posenet_echodot_musicplayer.json
[{"id":"cfdaa128ae36a8b4","type":"tab","label":"PoseNet-AlexaMusicPlayer","disabled":false,"info":"","env":[]},{"id":"0c0a33f7bb5afd1c","type":"alexa-remote-echo","z":"cfdaa128ae36a8b4","name":"","account":"a3756e6.704709","config":{"option":"command","value":{"device":{"type":"str","value":"G090XG08947427V6"},"what":"previous"}},"x":860,"y":360,"wires":[[]]},{"id":"d16a54b27b1a6818","type":"mqtt in","z":"cfdaa128ae36a8b4","name":"","topic":"DOMENT/SWIPE","qos":"2","datatype":"auto-detect","broker":"f51963f5.b578","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":300,"wires":[["900fd3c452e31499"]]},{"id":"e6cd90ce2f07e9f3","type":"switch","z":"cfdaa128ae36a8b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":300,"wires":[["a98a01229cbdc073"],["0c0a33f7bb5afd1c"]]},{"id":"900fd3c452e31499","type":"delay","z":"cfdaa128ae36a8b4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":350,"y":300,"wires":[["e6cd90ce2f07e9f3","adbdf048060a32cb"]]},{"id":"bd0c679f45246c66","type":"mqtt in","z":"cfdaa128ae36a8b4","name":"","topic":"DOMENT/VOLUME","qos":"2","datatype":"auto-detect","broker":"f51963f5.b578","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":500,"wires":[["55f47563b594b142"]]},{"id":"55f47563b594b142","type":"delay","z":"cfdaa128ae36a8b4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":430,"y":500,"wires":[["afb1beb4ae28c6b2","6b20b4a65f49aace"]]},{"id":"afb1beb4ae28c6b2","type":"alexa-remote-echo","z":"cfdaa128ae36a8b4","name":"","account":"a3756e6.704709","config":{"option":"command","value":{"device":{"type":"str","value":"G090XG08947427V6"},"what":"volume","value":{"type":"msg","value":"payload"}}},"x":870,"y":500,"wires":[[]]},{"id":"92d568b3fd2a6b8a","type":"alexa-remote-echo","z":"cfdaa128ae36a8b4","name":"","account":"a3756e6.704709","config":{"option":"command","value":{"device":{"type":"str","value":"G090XG08947427V6"},"what":"play"}},"x":920,"y":700,"wires":[[]]},{"id":"37415431bf843fb7","type":"alexa-remote-echo","z":"cfdaa128ae36a8b4","name":"","account":"a3756e6.704709","config":{"option":"command","value":{"device":{"type":"str","value":"G090XG08947427V6"},"what":"pause"}},"x":930,"y":800,"wires":[[]]},{"id":"1c1a59d98732ddc3","type":"mqtt in","z":"cfdaa128ae36a8b4","name":"","topic":"DOMENT/PLAY","qos":"2","datatype":"auto-detect","broker":"f51963f5.b578","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":760,"wires":[["8e5bfc573095d221"]]},{"id":"8e5bfc573095d221","type":"delay","z":"cfdaa128ae36a8b4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":350,"y":760,"wires":[["efd25f5c99fee3b8","4a93911645f063ed"]]},{"id":"efd25f5c99fee3b8","type":"switch","z":"cfdaa128ae36a8b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"-1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":760,"wires":[["92d568b3fd2a6b8a"],["37415431bf843fb7"]]},{"id":"6b20b4a65f49aace","type":"debug","z":"cfdaa128ae36a8b4","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":580,"wires":[]},{"id":"a98a01229cbdc073","type":"alexa-remote-echo","z":"cfdaa128ae36a8b4","name":"","account":"a3756e6.704709","config":{"option":"command","value":{"device":{"type":"str","value":"G090XG08947427V6"},"what":"next"}},"x":850,"y":280,"wires":[[]]},{"id":"adbdf048060a32cb","type":"debug","z":"cfdaa128ae36a8b4","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":420,"wires":[]},{"id":"4a93911645f063ed","type":"debug","z":"cfdaa128ae36a8b4","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":840,"wires":[]},{"id":"a3756e6.704709","type":"alexa-remote-account","name":"domen","authMethod":"proxy","proxyOwnIp":"127.0.0.1","proxyPort":"3456","cookieFile":"","refreshInterval":"3","alexaServiceHost":"alexa.amazon.co.uk","amazonPage":"amazon.co.uk","acceptLanguage":"en-UK","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"f51963f5.b578","type":"mqtt-broker","name":"HIVE MQ","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]